# ==========================================================
# 🧩 SINAN-RPA - Requirements (Windows 11)
# Python 3.10 a 3.13
# ==========================================================

# 🔹 Dependências Airflow (Seguro)
requests
python-dotenv
psutil

# ----------------------------------------------------------
# 🔹 Frameworks Web / API
# ----------------------------------------------------------
fastapi
uvicorn
flask

# ----------------------------------------------------------
# 🔹 Banco de Dados / ORM / Migração
# ----------------------------------------------------------
sqlalchemy
alembic
psycopg2-binary